@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-radix";

@theme {
  --radius-default: 0.25rem;
  --color-background: #d9d9d9; /* #f2f2f2 */
  --color-foreground: #05141F; /* #05141F */
  --color-primary-foreground: #f2f2f2; /* #f2f2f2 */
  --color-card: #f2f2f2; /* #ffffff */
  --color-vcard-foreground: #05141F; /* #05141F */
  --color-popover: #fbfbfb; 
  --color-popover-foreground: #05141F; 
  --color-color-primary: #1f2c35;
  --color-primary: #1f2c35; 
  --color-secondary: #37434d; 
  --color-tertiarty: #697279;
  --color-secondary-foreground: #f2f2f2; /* #f2f2f2 */
  --color-muted: #e5e5e5; /* #e5e5e5 */
  --color-muted-foreground: #37434d; /* #37434d */
  --color-accent: #05141F; /* #37434d */
  --color-accent-foreground: #f2f2f2; 
  --color-destructive: #e84a1f; /* HSL(27.3 86% 50%) approx hex */
  --color-destructive-foreground: #ffffff; /* #ffffff */
  --color-border: #1f2c35; /* #d9d9d9 */
  --color-input: #d9d9d9; /* #d9d9d9 */
  --color-ring: #1f2c35; /* #1f2c35 */
  /* Chart colors */
  --color-chart-1: #252525; /* #1f2c35 */
  --color-chart-2: #37434d; /* #37434d */
  --color-chart-3: #05141F; /* #05141F */
  --color-chart-4: #5a6f7c; /* #5a6f7c */
  --color-chart-5: #8fa3af; /* #8fa3af */
  /* Sidebar colors */
  --color-sidebar: #05141F; /* #05141F */
  --color-sidebar-foreground: #f2f2f2; /* #f2f2f2 */
  --color-sidebar-primary: #1f2c35; /* #1f2c35 */
  --color-sidebar-primary-foreground: #f2f2f2; /* #f2f2f2 */ /* Corrected typo */
  --color-sidebar-accent: #37434d; /* #37434d */
  --color-sidebar-accent-foreground: #f2f2f2; /* #f2f2f2 */
  --color-sidebar-border: #1f2c35; /* #1f2c35 */
  --color-sidebar-ring: #37434d; /* #37434d */
}

@layer base {
  * {
    /* Apply border color directly using the CSS variable */
    border-color: hsl(var(--border)); 
    /* Apply outline directly using the CSS variable with opacity */
    outline-color: hsl(var(--ring) / 0.5); /* Assuming /50 means 50% opacity */
    /* Add default outline style and width if needed, e.g.: */
    /* outline-style: solid; */
    /* outline-width: 1px; */
  }
  body {
    /* Apply background and text color directly */
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@font-face {
  font-family: KiaSignature;
  src: url(../../fonts/KiaSignatureRegular.ttf) format("truetype");
}
.KiaSignature {
  font-family: KiaSignature;
}
@font-face {
  font-family: KiaSignatureBold;
  src: url(../../fonts/KiaSignatureBold.ttf) format("truetype");
}
.KiaSignatureBold {
  font-family: KiaSignatureBold;
}

@font-face {
  font-family: Formula1;
  src: url(../../fonts/Formula1-Regular.otf) format("truetype");
}
.Formula1 {
  font-family: Formula1;
}

@media (width < 64rem) {
  .sm\:px-6 {
      display:none;
  }
}


